//colors
$text-dark-color: rgba(13, 13, 18, 1);
$text-blue-color: rgba(65, 164, 223, 1);
$text-deep-blue-color: rgba(41, 126, 226, 1);
$white-color: rgba(255, 255, 255, 1);
$dark-blue-color: rgba(35, 35, 40, 1);
$grey-color: rgba(255, 255, 255, 0.24);
$backgroud-light: rgba(247, 249, 251, 1);

// font
$font-inter: var(--font-inter);

// break-point
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

// theme color
$page-background-dark-mode: #0d0d12;
$page-background-light-mode: #fff;
