//colors
$text-dark-color: rgba(13, 13, 18, 1);
$text-blue-color: rgba(65, 164, 223, 1);
$text-deep-blue-color: rgba(41, 126, 226, 1);
$white-color: rgba(255, 255, 255, 1);
$dark-blue-color: rgba(35, 35, 40, 1);
$grey-color: rgba(255, 255, 255, 0.24);

// font
$font-inter: var(--font-inter);
