@use '@/globalStyles//variables' as *;

.footer {
  width: 100%;
  padding: 100px 200px 40px 200px;
  background: $dark-blue-color;
  display: flex;
  justify-content: center;
  @media screen and (max-width: $breakpoint-medium) {
    padding: 56px 20px 32px 20px;
  }
}
.footer__inner-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media screen and (max-width: $breakpoint-medium) {
    width: 100%;
  }
}
.footer__headers {
  width: 1200px;
  display: flex;
  align-items: center;
  @media screen and (max-width: $breakpoint-medium) {
    width: 100%;
    justify-content: space-between;
  }
}
.footer__logo-wrapper {
  width: 64px;
  height: 64px;
  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
  }
  @media screen and (max-width: $breakpoint-medium) {
    width: 46px;
    height: 46px;
  }
}
.footer__nav-menu-wrapper {
  margin-left: auto;
  width: 844px;
  display: flex;
  justify-content: center;
  @media screen and (max-width: $breakpoint-medium) {
    display: none;
  }
}
.footer__nav-menu_list {
  display: flex;
  gap: 32px;
  li {
    list-style: none;
    color: $white-color;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
  }
}
.footer__button-wrapper {
  button {
    border: none;
    border-radius: 900px;
    background: inherit;
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 18px 42px;
    font-family: $font-inter, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 24px;
    color: $white-color;
    cursor: pointer;
  }
  @media screen and (max-width: $breakpoint-medium) {
    button {
      padding: 12px 32px;
      font-size: 1.125rem;
      font-weight: 450;
      line-height: 21.6px;
    }
  }
}
.footer__copyright {
  width: 100%;
  text-align: start;
  span {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 24px;
    color: $white-color;
  }
  @media screen and (max-width: $breakpoint-medium) {
    font-size: 1.125rem;
    font-weight: 450;
    line-height: 21.6px;
  }
}
