@use '@/globalStyles//variables' as *;

.instructuon {
  width: 100%;
  padding: 120px 200px;
  margin-top: 120px;
  background: $instruction-block-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  @media screen and (max-width: $breakpoint-medium) {
    margin-top: 0px;
    padding: 32px 20px;
    gap: 24px;
  }
}
.instruction__header {
  h2 {
    margin: 0px;
    color: $text-color-100;
    font-size: 3.5rem;
    font-weight: 629;
    line-height: 61.6px;
    letter-spacing: -1.68px;
    span {
      color: $text-blue-color;
    }
  }
  @media screen and (max-width: $breakpoint-medium) {
    width: 250px;
    h2 {
      font-size: 2rem;
      font-weight: 550;
      line-height: 35.2px;
      letter-spacing: -0.96px;
      text-align: center;
    }
  }
}
.instruction__step {
  display: flex;
  gap: 122px;
  @media screen and (max-width: $breakpoint-medium) {
    width: 335px;
    flex-direction: column-reverse;
    align-items: center;
    gap: 16px;
  }
}
.instruction__step-one {
  & .instruction__step-image {
    background: linear-gradient(297deg, #8ec5fc 8.25%, #e0c3fc 91.76%);
  }
  & .instruction__step-header-steps-list {
    p {
      color: $text-color-100;
    }
  }
}
.instruction__step-two {
  flex-direction: row-reverse;
  & .instruction__step-image {
    background: linear-gradient(207deg, #fcb69f 6.91%, #ffecd2 92.45%);
  }
  & .instruction__step-header-title {
    h3 {
      br {
        display: none;
      }
      @media screen and (max-width: $breakpoint-medium) {
        br {
          display: block;
        }
      }
    }
  }
  & .instruction__step-header-steps-list {
    p {
      color: $text-blue-color;
    }
  }
  @media screen and (max-width: $breakpoint-medium) {
    flex-direction: column-reverse;
  }
}
.instruction__step-three {
  & .instruction__step-image {
    background: linear-gradient(0deg, #c2e9fb -16.6%, #a1c4fd 106.15%);
  }
}
.instruction__step-header {
  width: 488px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  @media screen and (max-width: $breakpoint-medium) {
    width: 100%;
    flex-direction: row;
    gap: 16px;
  }
}
.instruction__step-header-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (max-width: $breakpoint-medium) {
    gap: 16px;
  }
}
.instruction__step-header-number {
  display: flex;
  width: 64px;
  padding: 9px 22.004px 9px 20.996px;
  justify-content: center;
  align-items: center;
  border-radius: 900px;
  background: $instruction-block-number-bg;
  box-shadow:
    0px 0px 8px 0px rgba(182, 186, 191, 0.04),
    0px 2px 3px 0px rgba(0, 0, 0, 0.02);
  span {
    font-size: 2.625rem;
    font-weight: 629;
    line-height: 46.2px;
    letter-spacing: -1.26px;
    color: $instruction-block-number-color;
  }
  @media screen and (max-width: $breakpoint-medium) {
    width: 36px;
    height: 36px;
    padding: 5px 12px;
    span {
      font-size: 1.5rem;
      font-weight: 550;
      line-height: 26.4px;
      letter-spacing: -0.72px;
    }
  }
}
.instruction__step-header-title {
  h3 {
    margin: 0px;
    font-size: 2.625rem;
    font-weight: 629;
    line-height: 46.2px;
    letter-spacing: -1.26px;
    color: $text-color-100;
  }
  @media screen and (max-width: $breakpoint-medium) {
    h3 {
      font-size: 1.75rem;
      font-weight: 550;
      line-height: 30.8px;
      letter-spacing: -0.84px;
    }
  }
}
.instruction__step-header-sub-title {
  p {
    margin: 0px;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 24px;
    color: $text-color-80;
  }
  @media screen and (max-width: $breakpoint-medium) {
    p {
      font-size: 1.125rem;
      font-weight: 350;
      line-height: 21.6px;
      br {
        display: none;
      }
    }
  }
}
.instruction__step-header-steps-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  p {
    margin: 0px;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 24px;
    color: $text-color-80;
    span {
      color: $text-blue-color;
      font-weight: 500;
    }
  }
  @media screen and (max-width: $breakpoint-medium) {
    p {
      font-size: 1.125rem;
      font-weight: 350;
      line-height: 21.6px;
      span {
        font-weight: 450;
      }
    }
  }
}
.instruction__step-image {
  width: 590px;
  height: 488px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: $breakpoint-medium) {
    width: 335px;
    height: 277px;
    border-radius: 24px;
  }
}

.instruction__step-image-one {
  width: 392px;
  img {
    max-width: 100%;
  }
  & .top-image {
    height: 201px;
    border-radius: 16.8px 16.8px 7.83px 7.83px;
  }
  & .bottom-image {
    height: 48px;
    border-radius: 7.831px 7.831px 16.78px 16.78px;
  }
  @media screen and (max-width: $breakpoint-medium) {
    width: 283px;
    & .top-image {
      height: 145px;
      border-radius: 12.112px 12.112px 5.652px 5.652px;
    }
    & .bottom-image {
      height: 34px;
      border-radius: 5.654px 5.654px 12.114px 12.114px;
    }
  }
}
.instruction__step-image-two {
  width: 394px;
  height: 88px;
  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
  }
  @media screen and (max-width: $breakpoint-medium) {
    width: 300.279px;
    height: 67.40128px;
    img {
      border-radius: 15px;
    }
  }
}
.instruction__step-image-three {
  width: 403px;
  height: 198px;
  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
  }
  @media screen and (max-width: $breakpoint-medium) {
    width: 296.279px;
    height: 149px;
    img {
      border-radius: 15px;
    }
  }
}
