@use '@/globalStyles/variables' as *;
@import '../../../styles/heading-text';

.stat {
  width: 692px;
  height: 748px;
  padding: 42px 56px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 32px;
  background: $bg-color-feature-block;
  @media screen and (max-width: $breakpoint-medium) {
    width: 100%;
    height: auto;
    padding: 32px;
    border-radius: 24px;
  }
  @media screen and (max-width: $breakpoint-small) {
    width: 335px;
    height: auto;
    padding: 32px;
    border-radius: 24px;
  }
}
.stat__images {
  width: 580px;
  height: 526px;
  position: relative;
  img {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 32px;
    transition: all ease-in-out 0.5s;
  }
  @media screen and (max-width: $breakpoint-medium) {
    width: 100%;
    height: 100%;
    img {
      border-radius: 24px;
      object-fit: fill;
    }
  }
  @media screen and (max-width: $breakpoint-small) {
    width: 271px;
    height: 281px;
    img {
      border-radius: 24px;
      object-fit: cover;
    }
  }
}
.stat__header-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @extend .shared-styles;
  @media screen and (max-width: $breakpoint-small) {
    gap: 16px;
  }
}
