@use '@/globalStyles//variables' as *;
@import '../../../styles/heading-text';

%flex-styles {
  display: flex;
  flex-direction: column;
}
.anonymous {
  @extend %flex-styles;
  gap: 20px;
  width: 488px;
  height: 510px;
  padding: 42px;
  border-radius: 32px;
  background: $bg-color-feature-block;
  @media screen and (max-width: $breakpoint-medium) {
    width: 335px;
    height: 384px;
    padding: 32px;
    gap: 24px;
  }
}
.anonymous__images {
  @extend %flex-styles;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 32px;
  background: linear-gradient(233deg, #9fccfa -20.48%, #0974f1 97.38%);
  position: relative;
  @media screen and (max-width: $breakpoint-medium) {
    border-radius: 16.3px;
  }
}
.anonymous__images-wrapper {
  position: absolute;
  width: 356.849px;
  height: 126px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
  @media screen and (max-width: $breakpoint-medium) {
    width: 227.593px;
    height: 80px;
  }
}
.anonymous__header-texts {
  @extend %flex-styles;
  gap: 20px;
  @extend .shared-styles;
}
