@use '@/globalStyles//variables' as *;

.hero-block {
  width: 100%;
  height: 740px;
  padding: 20px 200px;
  @media screen and (max-width: $breakpoint-medium) {
    padding: 20px;
    height: auto;
  }
}
.hero-block__inner-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  @media screen and (max-width: $breakpoint-medium) {
    flex-direction: column;
    gap: 32px;
  }
}
.hero-block__description {
  width: 692px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 56px;
  @media screen and (max-width: $breakpoint-medium) {
    width: 100%;
    align-items: center;
    gap: 24px;
  }
}
.hero-block__title {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media screen and (max-width: $breakpoint-medium) {
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}

.hero-block__head-one {
  h1 {
    margin: 0px;
    font-size: 5rem;
    font-weight: 629;
    line-height: 88px;
    letter-spacing: -2.4px;
    color: $text-dark-color;
    span {
      color: $text-blue-color;
    }
    @media screen and (max-width: $breakpoint-medium) {
      width: 335px;
      font-size: 2.875rem;
      line-height: 59.6px;
      letter-spacing: -1.38px;
      text-align: center;
      font-weight: 600;
    }
  }
}
.hero-block__head-two {
  h2 {
    margin: 0px;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 24px;
    color: $text-dark-color;
    @media screen and (max-width: $breakpoint-medium) {
      font-size: 1.125rem;
      line-height: 21.6px;
      text-align: center;
    }
  }
}
.hero-block__button {
  button {
    border: 0px;
    background-color: $text-blue-color;
    padding: 18px 42px;
    border-radius: 900px;
    font-family: $font-inter;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
    color: $white-color;
    cursor: pointer;
  }
  @media screen and (max-width: $breakpoint-medium) {
    margin-top: -12px;
    button {
      padding: 12px 32px;
      font-size: 1.125rem;
      line-height: 21.6px;
      font-weight: 500;
    }
  }
}
.hero-block__bots {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero-block__bots-logos {
  display: flex;
}
.bots-logo-wrapper {
  width: 88px;
  height: 88px;
  border-radius: 88px;
  border: 4px solid #fff;
  &:nth-child(n + 2) {
    margin-left: -32px;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
  }
  @media screen and (max-width: $breakpoint-medium) {
    width: 59px;
    height: 59px;
    &:nth-child(n + 2) {
      margin-left: -16px;
    }
  }
}
.hero-block__bots-text {
  p {
    margin: 0px;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 24px;
    @media screen and (max-width: $breakpoint-medium) {
      font-size: 1.125rem;
      line-height: 21.6px;
      text-align: center;
    }
  }
}

.hero-block__image {
  width: 488px;
  height: 700px;
  display: flex;
  justify-content: center;
  @media screen and (max-width: $breakpoint-medium) {
    width: 100%;
  }
}
.iphone-frame {
  width: 328.211px;
  height: 688.598px;
  position: relative;
  z-index: 5;
  img {
    max-width: 100%;
    max-height: 100%;
  }
  @media screen and (max-width: $breakpoint-medium) {
    width: 310.85px;
    height: 640px;
  }
}
.iphone-screen {
  width: 304.099px;
  height: 663.271px;
  position: absolute;
  top: 13px;
  left: 12px;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  padding: 0px 1.5%;
  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 34.2px;
  }
  @media screen and (max-width: $breakpoint-medium) {
    width: 280.716px;
    height: 612.27px;
    left: 15px;
    padding: 0px;
  }
}
