@use '@/globalStyles//variables' as *;
@import '../../../styles//heading-text';

%flex-styles {
  display: flex;
  flex-direction: column;
}
.currencies {
  @extend %flex-styles;
  width: 1200px;
  padding: 42px 56px;
  border-radius: 40px;
  background-color: $bg-color-feature-block;
  gap: 42px;
  @media screen and (max-width: $breakpoint-medium) {
    width: 100%;
    padding: 32px;
    flex-direction: column-reverse;
  }
}
.currencies__header-texts {
  @extend %flex-styles;
  gap: 20px;
  @extend .shared-styles;
  @media screen and (max-width: $breakpoint-medium) {
    gap: 16px;
  }
}
.currencies__icons-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  @media screen and (max-width: $breakpoint-medium) {
    width: 271px;
    height: 122px;
    flex-wrap: wrap;
  }
}
.currencies__icon-item {
  @extend %flex-styles;
  align-items: center;
  gap: 8px;
  img {
    width: 96px;
    height: 96px;
  }
  span {
    color: $feature-block-text-color;
    font-size: 0.875;
    font-weight: 500;
    line-height: 16.8px;
    text-transform: uppercase;
  }
  @media screen and (max-width: $breakpoint-medium) {
    img {
      width: 56px;
      height: 56px;
    }
    span {
      display: none;
    }
  }
}
